<!DOCTYPE html>
<html>

<head>
<title>{{player.name}}</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>{{player.name}}</h1>

<p>Country: {{player.country}}</p>
<p>Role: {{player.role}}</p>

<h2>Current Bid: ₹{{highest}}</h2>

<form action="/bid" method="POST">

<input type="hidden" name="player_id" value="{{player.id}}">

<input type="text" name="bidder" placeholder="Your Name" required>

<input type="number" name="bid_amount" placeholder="Your Bid" required>

<button type="submit">Place Bid</button>

</form>

<br>

<a href="/">Back</a>

</body>
</html>
